.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ui.inverted.pointing.menu {
    margin-bottom: 0;
}


/* #proPic {
  border-radius: 25px;
  border: 2px solid black;
  background-color: grey;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
} */



@media only screen and (max-width: 767px) {
  #proPic {
    border-radius: 25px;
    /* border: 2px solid black; */
    /* background-color: grey; */
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 10px;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #container {
    border-radius: 25px;
    /* border: 2px solid black; */
    /* background-color: grey; */
    background-color: rgba(255, 255, 255, 0.7);

    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
    margin-bottom: 10%;
  }


  #skill{
    border-radius: 25px;
    /* border: 2px solid black; */
    background-color: white;
    padding: 5px;
    margin: 2.5%;
  }

  #backImage{
    background: url("https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     position: relative;
	   top: -50%;
     height: 100%;
  }
  .contactPage{
    height: 100vh !important;
  }

  .block{
    display: inline-block !important;
  }

  .ui.card {
    height: 225px;
  }
  .ui.cards {
    display: flex;
  }
  div#project {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  div#clickMe {
    margin-left: 5%;
    margin-right: 5%;
}


}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #proPic{
    border-radius: 25px;
    /* border: 2px solid black; */
    /* background-color: grey; */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5%;
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
    margin-left: 5%;
    margin-top: 2%;
    margin-top: 15%;
    /* height: 95%; */
    /* margin-bottom: 10%; */
  }


  #container {
    border-radius: 25px;
    /* border: 2px solid black; */
    background-color: rgba(255, 255, 255, 0.7);
    /* background-color: grey; */
    padding: 5%;
    margin-top: 2%;
    margin: 5%;

  }


  #skill{
    border-radius: 25px;
    /* border: 2px solid black; */
    background-color: white;
    padding: 5px;
    margin: 2.5%;
  }

  #widen.column {
    width: 100%;
  }

  #backImage{
    background: url("https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     height: 100%;
  }
  .ui.horizontally.padded.two.column.grid.socialGrid {
    height: -webkit-fill-available;
  }

  a.ui.card {
    height: 700px !important;
    width: 700px !important;
  }
  .ui.cards {
    display: inline-flex !important;
    padding-left: 10%;
  }
  div#project {
    margin: 1%;
  }
  div#container.contactStuff{
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 0%;
  }
  div#backImage.contactPage{
    height: 100vh !important;
  }
  .ui.segment.zoom.visible.transition {
    margin: 2%;
  }
  .description {
    padding-left: 3%;
  }

  div#links {
    margin: 10px;
  }

}

@media only screen and (min-width: 1200px) {
  #proPic {
    border-radius: 25px;
    /* border: 2px solid black; */
    /* background-color: grey; */
    background-color: rgba(255, 255, 255, 0.7);

    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #container {
    border-radius: 25px;
    /* border: 2px solid black; */
    /* background-color: grey; */
    background-color: rgba(255, 255, 255, 0.7);

    padding: 10px;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 10%;
  }


  #skill{
    border-radius: 25px;
    /* border: 2px solid black; */
    background-color: white;
    padding: 5px;
    margin: 2.5%;
  }



  #backImage{
    background: url("https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     height: 100% !important;
    }
    .ui.horizontally.padded.two.column.grid.socialGrid {
      height: -webkit-fill-available;
    }
    a.ui.card {
      height: 700px !important;
      width: 700px !important;
    }
    .ui.cards {
      display: inline-flex !important;
      padding-left: 5%;
    }
    div#project {
      margin: 1%;
    }
    div#container.contactStuff{
      margin-right: 25%;
      margin-left: 25%;
      margin-bottom: 0%;
    }
    div#backImage.contactPage{
      height: 100vh !important;
    }
    .ui.segment.zoom.visible.transition {
      margin: 2%;
    }

    .description {
      padding-left: 3%;
    }

    div#links {
      margin: 10px;
    }
}
